[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ffm"]
	path = ffm
	url = https://github.com/jslth/ffm
[submodule "photon"]
	path = photon
	url = https://github.com/jslth/photon
[submodule "z22"]
	path = z22
	url = https://github.com/jslth/z22
